@font-face {
    font-family: 'Helvetica';
    src: url('chrome-extension://__MSG_@@extension_id__/font/font.otf') format('otf');
}

#stpham-translate {
    position: fixed;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.2);
    cursor: move;
    background-color: rgba(000, 000, 000, 0.9);
    color: white;
    z-index: 9999999;
    min-height: 32px;
    overflow: hidden;
    bottom: 10px;
    left: 10px;
    font-family: 'Helvetica';
}

#stpham-translate-text {
    font-size: 18px;
    line-height: 30px;
    font-family: 'Helvetica';
    overflow: auto;
    width: 100%;
    height: 100%;
    color: white !important;
    white-space: pre-line;
}

.ui-resizable-e {
    cursor: e-resize;
    width: 7px;
    right: -5px;
    top: 0px;
    height: 100%;
}

.ui-resizable-handle {
    position: absolute;
    font-size: 0.1px;
    display: block;
    touch-action: none;
}

.ui-resizable {
    position: relative;
}

.ui-draggable-handle {
    touch-action: none;
}

.ui-resizable-s {
    cursor: s-resize;
    height: 7px;
    width: 100%;
    bottom: -5px;
    left: 0px;
}

.ui-resizable-handle {
    position: absolute;
    font-size: 0.1px;
    display: block;
    touch-action: none;
}

.ui-icon, .ui-widget-content .ui-icon {
    background-image: url(chrome-extension://kkkpicmepahhllaifdibekjemkmnpnmm/images/resizable.png);
    background-position: center;
}

.ui-icon {
    width: 16px;
    height: 16px;
}

.ui-resizable-se {
    cursor: se-resize;
    width: 12px;
    height: 12px;
    right: 1px;
    bottom: 1px;
}

.ui-resizable-handle {
    position: absolute;
    font-size: 0.1px;
    display: block;
    touch-action: none;
}

.ui-icon {
    display: inline-block;
    vertical-align: middle;
    margin-top: -0.25em;
    position: absolute;
    text-indent: -99999px;
    overflow: hidden;
}


